USE [LeSkinDB]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[maBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[tieuDe] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[moTa] [nvarchar](max) NULL,
	[noiDung] [nvarchar](max) NULL,
	[loai] [nvarchar](50) NULL,
	[noiBat] [bit] NULL,
	[ngayDang] [datetime] NULL,
	[maNguoiTao] [int] NULL,
	[maNguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[maChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maDonHang] [int] NOT NULL,
	[maSanPham] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[thanhTien] [decimal](18, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucDichVu]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucDichVu](
	[maDanhMucDV] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](200) NOT NULL,
	[slug] [nvarchar](200) NULL,
	[moTa] [nvarchar](max) NULL,
	[maNguoiTao] [int] NULL,
	[maNguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDanhMucDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[maDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](200) NOT NULL,
	[slug] [nvarchar](200) NULL,
	[moTa] [nvarchar](max) NULL,
	[maNguoiTao] [int] NULL,
	[maNguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [int] IDENTITY(1,1) NOT NULL,
	[maDanhMucDV] [int] NULL,
	[tenDichVu] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[loaiDichVu] [nvarchar](50) NULL,
	[congNghe] [nvarchar](255) NULL,
	[thoiLuong] [int] NULL,
	[soBuoi] [int] NULL,
	[doiTuongPhuHop] [nvarchar](255) NULL,
	[vungTacDong] [nvarchar](255) NULL,
	[moTaNgan] [nvarchar](max) NULL,
	[noiDungChiTiet] [nvarchar](max) NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[gia] [decimal](18, 2) NULL,
	[noiBat] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[trangThai] [bit] NULL,
	[maNguoiTao] [int] NULL,
	[maNguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDonHang] [int] IDENTITY(1,1) NOT NULL,
	[maDonHangCode] [nvarchar](50) NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[tongTien] [decimal](18, 2) NULL,
	[phiVanChuyen] [decimal](18, 2) NULL,
	[phuongThucThanhToan] [nvarchar](50) NULL,
	[trangThaiThanhToan] [nvarchar](50) NULL,
	[trangThai] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayDat] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[maDonHangCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[maGioHang] [int] IDENTITY(1,1) NOT NULL,
	[sessionId] [nvarchar](100) NOT NULL,
	[maNguoiDung] [int] NULL,
	[tongTien] [decimal](18, 2) NULL,
	[trangThai] [nvarchar](30) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[maCT] [int] IDENTITY(1,1) NOT NULL,
	[maGioHang] [int] NOT NULL,
	[maSanPham] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[thanhTien] [decimal](18, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[maLienHe] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[tieuDe] [nvarchar](255) NULL,
	[loaiLienHe] [nvarchar](50) NULL,
	[noiDung] [nvarchar](max) NOT NULL,
	[daDoc] [bit] NULL,
	[trangThai] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[ngayGui] [datetime] NULL,
	[maNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[maNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[vaiTro] [nvarchar](20) NOT NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [int] IDENTITY(1,1) NOT NULL,
	[maDanhMuc] [int] NULL,
	[tenSanPham] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[loaiSanPham] [nvarchar](100) NULL,
	[thuongHieu] [nvarchar](255) NULL,
	[dungTich] [nvarchar](50) NULL,
	[doiTuongSuDung] [nvarchar](255) NULL,
	[congDungChinh] [nvarchar](255) NULL,
	[thanhPhanNoiBat] [nvarchar](255) NULL,
	[moTaNgan] [nvarchar](max) NULL,
	[moTaChiTiet] [nvarchar](max) NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[noiBat] [bit] NULL,
	[ngayTao] [datetime] NULL,
	[trangThai] [bit] NULL,
	[maNguoiTao] [int] NULL,
	[maNguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangNoiDung]    Script Date: 1/10/2026 8:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangNoiDung](
	[maTrang] [int] IDENTITY(1,1) NOT NULL,
	[tieuDe] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[loaiTrang] [nvarchar](50) NULL,
	[moTaNgan] [nvarchar](max) NULL,
	[noiDung] [nvarchar](max) NULL,
	[thuTu] [int] NULL,
	[hienThi] [bit] NULL,
	[noiBat] [bit] NULL,
	[ngayCapNhat] [datetime] NULL,
	[maNguoiTao] [int] NULL,
	[maNguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT ((0)) FOR [noiBat]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (getdate()) FOR [ngayDang]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((0)) FOR [noiBat]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [phiVanChuyen]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chưa thanh toán') FOR [trangThaiThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chờ xử lý') FOR [trangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [ngayCapNhat]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (N'Đang sử dụng') FOR [trangThai]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [ngayCapNhat]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT (getdate()) FOR [ngayCapNhat]
GO
ALTER TABLE [dbo].[LienHe] ADD  DEFAULT ((0)) FOR [daDoc]
GO
ALTER TABLE [dbo].[LienHe] ADD  DEFAULT (N'Chưa xử lý') FOR [trangThai]
GO
ALTER TABLE [dbo].[LienHe] ADD  DEFAULT (getdate()) FOR [ngayGui]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [noiBat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[TrangNoiDung] ADD  DEFAULT ((0)) FOR [thuTu]
GO
ALTER TABLE [dbo].[TrangNoiDung] ADD  DEFAULT ((1)) FOR [hienThi]
GO
ALTER TABLE [dbo].[TrangNoiDung] ADD  DEFAULT ((0)) FOR [noiBat]
GO
ALTER TABLE [dbo].[TrangNoiDung] ADD  DEFAULT (getdate()) FOR [ngayCapNhat]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_NguoiCapNhat] FOREIGN KEY([maNguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_NguoiCapNhat]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_NguoiTao]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonHang] FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonHang] ([maDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_SanPham]
GO
ALTER TABLE [dbo].[DanhMucDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DMDV_NguoiCapNhat] FOREIGN KEY([maNguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucDichVu] CHECK CONSTRAINT [FK_DMDV_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DanhMucDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DMDV_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucDichVu] CHECK CONSTRAINT [FK_DMDV_NguoiTao]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DMSP_NguoiCapNhat] FOREIGN KEY([maNguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DMSP_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DMSP_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DMSP_NguoiTao]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_DanhMuc] FOREIGN KEY([maDanhMucDV])
REFERENCES [dbo].[DanhMucDichVu] ([maDanhMucDV])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_DanhMuc]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_NguoiCapNhat] FOREIGN KEY([maNguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_NguoiTao]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_NguoiDung] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_GioHang] FOREIGN KEY([maGioHang])
REFERENCES [dbo].[GioHang] ([maGioHang])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_GioHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_SanPham]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [FK_LienHe_NguoiDung] FOREIGN KEY([maNguoiDung])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [FK_LienHe_NguoiDung]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([maDanhMuc])
REFERENCES [dbo].[DanhMucSanPham] ([maDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NguoiCapNhat] FOREIGN KEY([maNguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NguoiCapNhat]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NguoiTao]
GO
ALTER TABLE [dbo].[TrangNoiDung]  WITH CHECK ADD  CONSTRAINT [FK_Trang_NguoiCapNhat] FOREIGN KEY([maNguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[TrangNoiDung] CHECK CONSTRAINT [FK_Trang_NguoiCapNhat]
GO
ALTER TABLE [dbo].[TrangNoiDung]  WITH CHECK ADD  CONSTRAINT [FK_Trang_NguoiTao] FOREIGN KEY([maNguoiTao])
REFERENCES [dbo].[NguoiDung] ([maNguoiDung])
GO
ALTER TABLE [dbo].[TrangNoiDung] CHECK CONSTRAINT [FK_Trang_NguoiTao]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([phuongThucThanhToan]=N'trực tiếp khi nhận hàng' OR [phuongThucThanhToan]=N'trực tuyến'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([vaiTro]='khachhang' OR [vaiTro]='admin'))
GO
