@model _2210900059_PTQ_DATN.Models.LienHe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LienHe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLienHe" />
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiLienHe" class="control-label"></label>
                <input asp-for="LoaiLienHe" class="form-control" />
                <span asp-validation-for="LoaiLienHe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaDoc" class="control-label"></label>
                <input asp-for="DaDoc" class="form-control" />
                <span asp-validation-for="DaDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGui" class="control-label"></label>
                <input asp-for="NgayGui" class="form-control" />
                <span asp-validation-for="NgayGui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNguoiDung" class="control-label"></label>
                <select asp-for="MaNguoiDung" class="form-control" asp-items="ViewBag.MaNguoiDung"></select>
                <span asp-validation-for="MaNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
