@model _2210900059_PTQ_DATN.Models.ChiTietDonHang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChiTietDonHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaChiTiet" />
            <div class="form-group">
                <label asp-for="MaDonHang" class="control-label"></label>
                <select asp-for="MaDonHang" class="form-control" asp-items="ViewBag.MaDonHang"></select>
                <span asp-validation-for="MaDonHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSanPham" class="control-label"></label>
                <select asp-for="MaSanPham" class="form-control" asp-items="ViewBag.MaSanPham"></select>
                <span asp-validation-for="MaSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhTien" class="control-label"></label>
                <input asp-for="ThanhTien" class="form-control" />
                <span asp-validation-for="ThanhTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
