<footer class="footer">

    <!-- Floating contact buttons -->
    <div class="float-buttons">
        <a class="btn-cart" href="#" title="Giỏ hàng">🛒</a>
        <a class="btn-phone" href="tel:0904585958">📞 0904585958</a>
    </div>

    <div class="container footer-grid">
        <div class="col">
            <h4>CÔNG TY CP CÔNG NGHỆ MỚI LESKIN VIỆT NAM</h4>
            <p>Tòa CT1 chung cư C14 Bắc Hà, đường Tố Hữu, Trung Văn, Nam Từ Liêm, Hà Nội</p>
            <p>📞 0904585958 • ✉️ info@leskin.vn</p>
        </div>

        <div class="col">
            <h4>VỀ LESKIN</h4>
            <ul>
                <li><a href="#">Vì sao bạn nên hợp tác</a></li>
                <li><a href="#">Chính sách đối tác</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>TẢI APP NGAY</h4>
            <div class="app-badges">
                <img src="~/images/app-android.jpg" alt="App Android" style="max-width:120px;" />
            </div>
        </div>
    </div>

    <div class="copyright">
        © 2019 Leskin. All rights reserved.
    </div>

</footer>
