<section class="section partners">
    <div class="container">
        <div class="partners-row">
            <img src="~/images/Capture-Copy-2.png" alt="Partner">
            <img src="~/images/Capture-Copy-3.webp" alt="Partner">
            <img src="~/images/cut.jpg" alt="Partner">
            <img src="~/images/download1.jpg" alt="Partner">
            <img src="~/images/partner-1.png" alt="Partner">
            <img src="~/images/saokimPharma.png" alt="Partner">
            <img src="~/images/lancome-logo-cut.png" alt="Partner">
        </div>
    </div>
</section>
